<div class="max-h-96 px-4 rounded-md overflow-scroll bg-slate-500">
  {{#if @users.length}}
    {{#each @users as |user|}}
      <div
        class="flex items-center justify-between w-full p-4 border-b border-b-slate-600"
      >
        <label class="text-white">{{user.name}}</label>

        <div class="flex gap-4">
          <button
            {{on "click" (fn @selectUser user)}}
            class="px-4 py-1 rounded-md text-white bg-blue-400"
          >Editar</button>
          <button
            {{on "click" (fn @deleteUser user.id)}}
            class="px-4 py-1 rounded-md text-white bg-red-400"
          >Excluir</button>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p class="text-slate-400">Adicione um novo usuário</p>
  {{/if}}
</div>